.c-navigation {
  background-color: $white-color;

  &__container {
    background-color: inherit;
    margin-bottom: 0;
  }

  li > a {
    &:hover {
      color: $blue-color;
      background-color: transparent;
    }
  }

  &__link {
    color: inherit;
    display: block;
    text-align: center;

    &:hover {
      color: $blue-color;
    }
  }

  &__logo-link { padding: 9px 15px; }

  .icon-bar {
    background-color: $gray-3-color; 
  }
}
