.c-reports {
  padding-top: 40px;
  padding-bottom: 40px;

  @media #{$sm-up} {
    min-height: 80vh;
  }

  &__header {
    margin: 30px 0;
    text-align: center;
    font-size: $fs-12;
  }

  &__item-wrapper {
    margin: 20px 0;
  }

  &__item {
    background-color: $white-color;
    padding: 12px 8px 8px;
    text-align: center;

    a:hover {
      text-decoration: none;
    }
  }

  &__img {
    display: inline-block;
    max-width: 100%;
  }

  &__title {
    margin: 10px auto 0;
    color: initial;
    height: 48px;

    @media #{$sm-up} {
      height: 24px;
    }
  }
}