.c-social {
  position: absolute;
  display: none;
  top: 20px;
  left: -20px;
  width: 40px;

  @media #{$sm-up} {
    display: block;
  }

  &--mobile {
    position: relative;
    display: inline-block;
    top: initial;
    left: initial;
    width: auto;
    margin: 20px 0;
    margin-left: 30%;
    margin-left: calc(50% - 100px);

    @media #{$sm-up} {
      display: none;
    }
  }

  &__network {
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 15px;
    border: 1px solid $light-blue-color;
    width: 40px;
    height: 40px;
    background-color: $white-color;
    border-radius: 50%;
    font-size: $fs-4;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color ease-in 0.2s;

    @media #{$sm-up} {
      margin: 0;
      margin-bottom: 15px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    &--facebook {
      color: $facebook-blue-color;

      &:hover {
        color: $white-color;
        background-color: $facebook-blue-color;
        border: none;
      }
    }

    &--linkedin {
      color: $linkedin-blue-color;

      &:hover {
        color: $white-color;
        background-color: $linkedin-blue-color;
        border: none;
      }
    }

    &--twitter {
      color: $twitter-blue-color;

      &:hover {
        color: $white-color;
        background-color: $twitter-blue-color;
        border: none;
      }
    }
  }
}
